{% extends "app/base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block main-content %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-4">
                {% csrf_token %}
                {% for fm in form %}
                    <div class="mb-3">  <!-- Added div to wrap each form field -->
                        {{ fm.label_tag }} {{ fm }} 
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div> <!-- Closing div for each form field -->
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Submit">
                <br>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger my-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
