{% extends "app/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="alert alert-success text-center">
                <h3 class="alert-heading">Reset Password Compeleted!</h3>
                <hr>
                 <iframe src="https://giphy.com/gifs/KBxyo8FDKE33qnj3KB" width="200" height="200" frameBorder="0"
            class="giphy-embed" allowScreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}
